@{
    ViewData["Title"] = "About";
}

<style>
    .about-container {
        overflow: hidden;
    }

    .about-image {
        float: right;
        margin: 0 0 20px 20px;
        max-width: 300px;
    }

    .about-text {
        text-align: left;
    }
</style>

<h1>About Us</h1>

<div class="about-container">
    <img src="/Images/About.jpg" class="about-image" />

    <div class="about-text">
        <p>ABOUT OUR FOUNDER</p>
        <p>
            James Khumalo, a visionary entrepreneur, set out to establish KhumaloCraft Emporium as a global e-commerce platform to showcase handcrafted products. His dream involves connecting artisans worldwide with a discerning audience. James envisioned a platform accessible to a global audience, scalable to accommodate growth, and ensuring a secure and enjoyable shopping experience.
        </p>

        <p>ABOUT KHUMALO CRAFT</p>
        <p>
            The entire goal of KhumaloCraft is to have a web application which is accessible, stores the artisans’ craftwork, and allows customers globally to access and order their craftwork.
        </p>

        <p>HOW TO GET A HOLD OF US</p>
        <p>
            If you have any questions, feedback, or inquiries, please feel free to <a href="Contact">contact us</a>.
        </p>
    </div>
</div>
