@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div style="text-align: center;">

    <img src="/Images/Contact.jpg" />

    <p>
        Email us at: KhumaloCraftsCare@yehaw.com
    </p>
    <p>
        Call us at: (069) 180-6344
    </p>
    <p>
        WE WILL GET BACK TO YOU AS SOON AS POSSIBLE.
    </p>
    <p>
        YOUR FEEDBACKS MEANS EVERYTHING TO US!
    </p>

</div>
